.knp-th a {
    text-decoration: none;
}

.col-gap10 {
    column-gap: 10px;
}

.width-fit {
    width: fit-content;
}

textarea {
    resize: none;
}

.form-block div {
    display: block;
}

.required {
    font-weight: bold;
}

.required::after {
    content: " *";
}