{% block nav %}
    <nav>
        <ul class="list-no-style disp-flex-row col-gap10">
            {#  <li><a href="{{ url('category_index') }}" class="no_underline">{{ 'label.categories'|trans }}</a></li>#}
            <li><a href="{{ url('report_index') }}" class="no_underline">{{ 'label.reports'|trans }}</a></li>
        </ul>
    </nav>
{% endblock %}
